target
code-getter/main

out

# pdf aux ignore
*/report/*.acn
*/report/*.acr
*/report/*.alg
*/report/*.aux
*/report/*.bak
*/report/*.bbl
*/report/*.bcf
*/report/*.blg
*/report/*.brf
*/report/*.bst
*/report/*.dvi
*/report/*.fdb_latexmk
*/report/*.fls
*/report/*.glg
*/report/*.glo
*/report/*.gls
*/report/*.idx
*/report/*.ilg
*/report/*.ind
*/report/*.ist
*/report/*.lof
*/report/*.log
*/report/*.lol
*/report/*.lot
*/report/*.maf
*/report/*.mtc
*/report/*.mtc1
*/report/*.nav
*/report/*.nlo
*/report/*.nls
*/report/*.out
*/report/*.pyg
*/report/*.run.xml
*/report/*.snm
*/report/*.synctex.gz
*/report/*.tex.backup
*/report/*.tex~
*/report/*.thm
*/report/*.toc
*/report/*.vrb
*/report/*.xdy
*/report/*.xml
*/report/*blx.bib
*/report/*.bak 
*/report/*.mtc
